@import "~styles/_common.module";

.MenuBoard {
  // position: fixed;
  background: $white;
  width: 100%;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  footer,
  header {
    width: 100%;
    background: white;
    z-index: 1;
  }
  header {
    position: sticky;
    top: 0;
    text-align: center;
    color: $dark-200;
    min-height: 6rem;
    padding-top: 1rem;
    .RestName {
      color: $dark-200;
      padding-bottom: 1rem;
    }

    .Indicator {
      height: 0.2rem;
      border-radius: 1rem;
    }

    .Tab {
      text-transform: none;
      &.Selected {
        font-weight: bold;
      }
    }
  }
  section {
    flex-grow: 1;
    background-color: #f2f5f8;
    width: 100%;
    background: linear-gradient(180deg, #f2f5f8 80%, rgba(#f2f5f8, 0) 100%);
    .MenuItem {
      margin: 1rem 2rem;
      padding: 1rem 1.5rem;
      border-radius: 0.4rem;
      .ItemPrice {
        white-space: pre;
      }
      .Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  footer {
    background: linear-gradient(
      360deg,
      #ffffff 36.46%,
      rgba(255, 255, 255, 0) 100%
    );
    min-height: 8.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: flex-end;
    .Logo {
      height: 2.2rem;
    }
  }
}
