@import "~styles/_common.module";

.MenuItem {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  .ItemPrice {
    white-space: pre;
  }
  .Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
