@import "~styles/_common.module";

button.RoundedButton {
  appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  min-height: 3rem;
  @include font-size(32);
  font-weight: bold;

  &.block {
    min-width: 100%;
  }
}
