@import "~styles/_common.module";

button.Fab {
  appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0.2rem;
  height: 4rem;
  width: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 1000;
}
