// ==========================================================================
// Defaults
// ==========================================================================
$primary-font: "Noto Sans", sans-serif;

@mixin font-primary() {
  font-family: $primary-font;
}

// ==========================================================================
// Mixins
// ==========================================================================
$base-font-size: 22 !default;

@mixin font-size($size-in-px, $line-height: 1.5) {
  font-size: $size-in-px * 1px;
  font-size: $size-in-px / $base-font-size * 1rem;
  line-height: $size-in-px / $base-font-size * $line-height * 1rem;
}
