@import "~styles/_common.module";

.Finder {
  position: fixed;
  background: $white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .Logo {
    flex-grow: 1;
    height: 2rem;
    margin-bottom: 2rem;
  }

  h1.ScanMessage {
    margin: 0;
  }

  .QrReader {
    width: 100%;
    section > video {
      border-radius: 0.8rem;
      background: rgba($dark-50, 0.07);
    }
  }

  p.EnterManually {
    color: $dark-50;
    flex-grow: 1;
  }

  .NextButton {
    margin-bottom: 1rem;
  }
}
