@import "~styles/_common.module";

:global {
  body {
    // We need this for form zooming fix
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    @include font-primary();
  }
  h1 {
    font-weight: 900;
    @include font-size(32);
  }
}
